body{
background-color: hotpink;
margin: 0px;
}
nav{
    background-color: grey;
    width: 100vw;
    position: fixed;
    top: 0px;
}
.text-align-center{
 position: relative;
 top: 10vw;
 z-index: -1;
}
img{
    float: left;
    height: auto;
    width: 40vw;
}

